# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\스파르타 코딩클럽\home\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
