<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">


    <title>Movie Recommend System | Home</title>

    <style>
        .size{
            width: auto;
            height: 800px;
        }
        .wrap {
            width: 1800px;
            margin: auto;
        }
    </style>

    <script>
        $(document).ready(function () {
            // 창을 새로고침할 때마다 실행할 함수를 여기에 입력합니다.
            $('#day-rank').empty();
        });

        function showDayBoxoffice() {
            $('#day-rank').empty();
            $.ajax({
                type: "GET",
                url: "http://www.kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json",
                data: {},
                success: function (response) {
                    let works = response["works"];
                    for (let i = 0; i < works.length; i++) {
                        let rank = boxOfficeResult[dailyBoxOfficeList][i]['rank'];
                        let movieNm = boxOfficeResult[dailyBoxOfficeList][i]['movieNm'];
                        let openDt = boxOfficeResult[dailyBoxOfficeList][i]['openDt'];

                        tempHtml = `<div class="media text-muted pt-3">
                                      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em" translate="translated"><font class="papago-parent"><font class="papago-source" style="display:none;">32x32</font>32x32</font></text></svg>
                                      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                        <strong class="d-block text-gray-dark"><font>${rank} ${movieNm}</font></strong><font>${openDt}</font></p>
                                    </div>`;

                        $('#day-rank').append(tempHtml);
                    }
                }
            })

        }
    </script>
</head>
<body>
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Netfilx</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:5000/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:8080/">star</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">my home</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</header>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner size">
    <div class="carousel-item active">
      <img src="https://lh3.googleusercontent.com/proxy/3QH1ofTVNblgKuBgBvk47xs77xeE3ziJTcd4WMJx89Oygn5B_xtoS4rNIeP6zG0DrF9m8IkjjQq7z0U5F4K6HTWihS5dgcxGVV9Bf_iTu_3kLip2pw" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item size">
      <img src="https://t1.daumcdn.net/thumb/R720x0/?fname=http://t1.daumcdn.net/brunch/service/user/4arX/image/ThmomYfV2fLl1k3iXCe__ZywsAk.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item size">
      <img src="https://lh3.googleusercontent.com/proxy/qKMafejVsK-rdjR4uf7_gu-vCAH0a0uNMNMvEqSbNOoNMBDTNzaEmjimfsX5Y7bGkpZwZPI29kRMONaRH_XOyAVzk9o_uLHvli_lFrJIJ86cF2xaADMGLJku" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="wrap">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0" translate="translated"><font class="papago-parent"><font class="papago-source" style="display:none;">Recent updates</font>일일 박스오피스</font></h6>
    <div class="media text-muted pt-3" class="day-rank">
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em" translate="translated"><font class="papago-parent"><font class="papago-source" style="display:none;">32x32</font>32x32</font></text></svg>
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark"><font>@ 사용자 이름</font></strong><font>안녕</font></p>
    </div>
    <small class="d-block text-right mt-3">
      <a href="#" translate="translated"><font class="papago-parent"><font class="papago-source" style="display:none;">All updates</font>모든 업데이트</font></a>
    </small>
  </div>
</div>

</body>
</html>